.header {
	height: 50px;
	max-width: 100%;
	background-color: #FFB800;
	top: 0;
	font-family: 'Wendy One';
}

body {
  cursor: url(https://cdn0.iconfinder.com/data/icons/foody-icons/32/FoodyIcons_color-02-512.png), auto;
}

#logo {
	height: 50px;
	width: 50px;
	margin-left: 1%;
}

.left_header {
	padding-left: 16px;
	display: inline-flex;
}

#header_wingman {
	color: white;
    font-size: 40px;
    padding-top: 1px;
}


.header_right_text {
	color: black;
	float: right;
	font-size: 25px;
	margin-top: 11px;
	margin-right: 25px;
}

.header_text:hover {
	color: white;
}

.hero-bar {
	text-align: center;
	background-image: url("http://moziru.com/images/urban-clipart-city-building-8.jpg");
	height: 600px;
	margin-bottom: -5%;
}

.hero-txt {
	height: 150px;
	max-width: 100%;
	background-color: black;
}

#hero-txt {
	color: #FFB800;
	font-family: 'times new roman';
	font-size: 50px;
	font-weight: bold;
    margin-left: 5%;
    text-align: center;
}

.featured-bar {
	background-color: #FFB800;
	height: 500px;
	max-width: 100%;
	color: black;
	text-align: center;
	font-family: 'times new roman';
}

#featuredimage {
	border-radius: 200px;
	margin-top: -3%;
}

.featured-txt {
	
	font-size: 50px;
	font-weight: bold;
	padding-top: 2%;
	margin-bottom: 5%;
}

p {
	font-size: 24px;
	padding-top: 5%;
	padding-left: 20%;
}

.community-bar {
	background-color: white;
	height: 500px;
	max-width: 100%;
}


.community-header{
	color: black;
	text-align: center;
	font-family: 'times new roman';
	font-size: 50px;
	margin-top: 2%;
	margin-bottom: 5%;
}

.container_community_images {
	font-size: 10px;
}
.community_photo {
	height: 200px;
}

h5 {
	font-size: 12px;
	margin-bottom: 0px;
}

.image_box {
	text-align: center;
}

.community_images {
	margin-top: 25px;
}

.footer {
	background-color: black;
	height: 95px;
	max-width: 100%;
}

#footer-txt {
	color: white;
	font-size: 10px;
	margin-top: 15px;
	text-align: center;
}

.links {
	color: white;
	font-family: 'Wendy One';
	font-size: 20px;
	margin-top: 15px;
	margin-left: 15px;
}

.links:hover {
	color: #FFB800;
}


#email-field {
	margin-top: 0%;
	text-align: center;
	margin-left: 33%;
}

#copyright {
	font-size: 10px;
	color: white;
	padding-top: 15%;
	float: right;
	padding-right: 15px;
}

.searchbg {
	max-width: 100%;
	color: black;
	font-family: 'Wendy One';
	text-align: center;
}

#searchtitle {
	padding-top: 2%;
	font-size: 40px;
}

#searchbar {
	background-image: url('http://www.clker.com/cliparts/7/C/B/Q/6/n/search-icon-hi.png');
	background-size: 20px;
  	background-position: 2px 3px;
 	background-repeat: no-repeat;
	margin-top: -20%;
	margin-left: 20%;
	margin-right: 20%;
	padding-left: 30px;
	width: 60%;
}

#searchbutton{ 
	margin-left: 46%;
	margin-top: 2%;
	 }

#searchbutton:hover {
  background: #ff7300;
  text-decoration: none;
}

.inforeq {
	width: 85%;
	margin: auto;
	text-align: center;
	background-color: white;
	margin-bottom: 5%;
}

.tableheader {
	height: auto;
	text-align: center;
	font-size: 20px;
	background-color: #FFB800;
	font-family: 'Wendy One'
}

h4 {
	text-decoration: none;
	font-size: 20px;
}

.ratinghead {
	margin-right: 2%;
}

.tableimg{
	max-width: 100px;
}

.tablerow {
	border-bottom: black solid 1px;
}

.colTabHours {
	padding: 4%;
}

.footersearch {
	background-color: black;
	height: 95px;
	max-width: 100%;
}

#add-button {
	margin-bottom: 1%;
}
.modalheader {
	color: white;
    font-size: 40px;
    padding-top: 2%;
    background-color: #FFB800;
    text-align: center;
    font-family: 'Wendy One';
    margin-top: -2%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    text-align: right;
    font-size: 38px;
    font-weight: bold;
    margin-top: -5%;
    margin-right: -4%;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#Address{
	width: 90%;
}

#Hours{
	width: 95%;
}

#Image-URL{
	width: 100%;
}